{
    "title": "Etherpad",
    "ip": "0.0.0.0",
    "port": 9001,
    "dbType": "mysql",
    "dbSettings": {
        "host": "database",
        "port": 3306,
        "database": "etherpad",
        "user": "etherpad",
        "password": "password",
        "charset": "utf8mb4"
    },
    "users": {
        "ADMIN_USER": {
            "password": "ADMIN_PASS",
            "is_admin": true
        }
    }
}
